<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>ToDoList</title>
</head>
<body>
    <input id="myCheckBox" type="checkbox">
    <label for="myCheckBox" class="strike">text</label>
    <table>
        <tr>
            <th>Id</th>
            <th>Task</th>
            <th>Days</th>
        </tr>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.task}"></td>
            <td th:text="${task.days}"></td>
        </tr>
    </table>
    <a href="/tasks/add/task">Add Task</a>
</body>
</html>